@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
    --color-primary: #F84565;
    --color-primary-dull: #d63854;

}

*{
    font-family: "Outfit", sans-serif;
    scrollbar-color: #787777 #1e1e1e;
    scrollbar-width: thin;
}
body{
    color: white;
    background-color: #09090B;
}
.no-scrollbar{
    scrollbar-width: none;
}